*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 8%);
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    display: grid;
    place-items: center;
}

.container {
    background-color: hsl(0, 0%, 12%);
    color: white;
    max-width: 350px;
    text-align: center;
    padding: 32px;
    border-radius: 12px;
}

img {
    margin-bottom: 8px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
}

h1 {
    font-size: 28px;
}

.location {
    color: hsl(75, 94%, 57%);
    margin: 8px 0 24px;
    font-weight: 700;
}

ul {
    margin-top: 28px;
}

.container li:not(:last-child) {
    margin-bottom: 16px;
}

li {
    list-style-type: none;
}

li a {
    display: block;
    color: hsl(0, 0%, 100%);
    padding: 12px;
    font-weight: 600;
    border-radius: 8px;
    background-color: hsl(0, 0%, 20%);
    transition: all 0.3s ease;
}

a {
    text-decoration: none;
}

li a:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
}

footer {
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}